In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* -> expression
'hello' -> values
- -> expression
/ -> expression
+ -> expression
6 -> values

What is the difference between string and variable?


String: stores text  . Its atype of variable Ex: 'python', "python"
Value: stores values. Ex: 10, 20.4

Describe three different data types.

Integer - stores whole numbers. Ex: 8, 26
String - storesliteral text enclosed either in single quote or double quote . Ex: 'python', "23", "python"
Boolean - logical value: True/False.

What is an expression made up of? What do all expressions do?

An expression consists of values and an arthematic operator. Expressions execute the arithematic operator on he specified values.

This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression: Evaluates the given values against the given operator. Ex: 2+3. Here , it computes the addition on values 2 and 3 and gives the result. 
Statement : Execute a specific instruction. Ex: spam=10. Here, it assigns value 10 to variable spam.

After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
 The variable bacon contain 22

In [1]:
bacon =22

In [2]:
bacon

22

In [3]:
bacon+1

23

In [4]:
bacon

22

What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [10]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

Why is eggs a valid variable name while 100 is invalid?
Because , in python a variable name should start with a letter or underscore .

In [13]:
eggs=2

In [14]:
eggs

2

In [15]:
100='py'

SyntaxError: cannot assign to literal (1023598694.py, line 1)

In [16]:
eggs='py'

In [17]:
eggs

'py'

In [18]:
100=2

SyntaxError: cannot assign to literal (1041846470.py, line 1)

What three functions can be used to get the integer, floating-point number, or string version of a value?
int(), float(), str()

In [19]:
s=10

In [20]:
type(s)

int

In [21]:
r=float(s)

In [22]:
r

10.0

In [23]:
a=str(s)

In [24]:
a

'10'

In [25]:
b=2.5

In [26]:
type(b)

float

In [27]:
i=int(b)

In [28]:
i

2

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

Because we can concatenate only string using + operator. 99 is an integer here. 
It can be fixed by converting 99 to string.

In [29]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [30]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'